body {
    font-family: Roboto, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Roboto, sans-serif;
}
.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
}
.text-center {
    text-align: center;
}
div {
    margin-bottom: 30px;
}
.one {
    background: bisque;
}
.two {
    background: orange;
}
.three {
    border: 2px solid red;
}
.block {
    width: 75px;
    height: 75px;
    float: left;
    margin: 25px;
    border: 2px solid #333;
}
.block-1, .block-2 {
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 3px solid red;
}
hr {
    clear: both;
}
.orange {
    padding: 5px;
    color: #fff;
    background: orange;
}
.red {
    padding: 5px;
    color: #fff;
    background: red;
}
.test-2 {
    width: 50px;
    height: 50px;
    position: relative;
    background: red;
}
